.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;
}

.alert-box{
position: fixed;
top: 30vh;
left: 30vw;
width: 40%;
padding: 16px;
z-index: 100;
background: white;
box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

.alert-box-actions{
    text-align: center;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

  .btn-primary{
    border-radius: 0px;
}


::ng-deep .spinner {
    display: block !important;
    position: fixed !important;
    z-index: 1031;
    pointer-events: none;
    /* //backdrop-filter: blur(3px); */
    top: calc(50% - (50px / 2)) !important; /* where ... is the element's height */
    right: calc(50% - (50px / 2)); /* where ... is the element's width */
  }